<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Frameworksystem.net configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="CORS_Allowed_Host" value="http://localhost:3000" />
    <add key="ExcludeHelpPage" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CaptchaKey" value="6Ld9Q_kUAAAAACDqGDjYUKwZOgqEoM84lZlySeUe"/>
    <add key="JwtSecretKey" value="351635e67bad67676d14242f58c76150" />
    <add key="JwtAudienceToken" value="http://localhost:49506" />
    <add key="JwtIssuerToken" value="http://localhost:49506" />
    <add key="JwtExpireMinutes" value="10" />
    <add key="JwtValidateLifetime" value="true" />
    <add key="JwtValidateIssuerSigningKey" value="true" />
    <add key="IdEnvioSms" value="4" />
    <add key="IdIntentos" value="2" />
    <add key="IdPdf" value="1" />
    <add key="SmsMensaje" value="1" />
    <add key="IdAgregaRevision" value="2" />
    <add key="IdEliminaRevision" value="3" />
    <add key="IdAgregaEntrenamiento" value="4" />
    <add key="IdEliminaEntrenamiento" value="5" />
    <add key="IdAgregaAsesoria" value="6" />
    <add key="IdEliminaAsesoria" value="7" />
    <add key="IdAgregaCoworking" value="8" />
    <add key="IdEliminaCoworking" value="9" />
    <add key="IdAgregaLegalItt" value="10" />
    <add key="IdEliminaLegalItt" value="11" />
    <add key="IdAgregaBranding" value="12" />
    <add key="IdEliminaBranding" value="13" />
    <add key="IdAgregaAyuda" value="17" />
    <add key="IdEliminaAyuda" value="18" />
    <add key="idBienvenidaRegistro" value="16" />
    <add key="repositoryAddress" value="https://192.168.241.10:10310" />
    <add key="rutaImagenBranding" value="http://ecodesarrollo.conectatecontuseguro.com/Imagenes/Branding/" />
    <add key="rutaImagenEventos" value="http://ecodesarrollo.conectatecontuseguro.com/Imagenes/Eventos/" />
    <add key="IdCodigo" value="80" />
    <add key="HostingSms" value="api-messaging.movile.com" />
    <add key="serviceId" value="BNPC0083" />
    <add key="userId" value="M1511" />
    <add key="MongoConexion" value="mongodb://myServerAdmin:mipassword@172.27.1.34" />
    <add key="MongoDBName" value="logUser" />
    <add key="PlantillaUserInsertar" value="1" />
    <add key="PlantillaAgendaInsertar" value="3" />
    <add key="PlantillaAgendaEliminar" value="8" />
    <add key="PlantillaAgendaModificar" value="11" />
    <add key="LinkAgendaEliminar" value="https://disfrutatuseguro.com" />
    <add key="PlantillaBienvenida" value="1" />
    <add key="sitioPassword" value="9B9CB6631B27AA1DF47DB351B497004810015B09" />
    <add key="sitioUsuario" value="CARDIF" />
    <add key="idMensajeRecuperacion" value="1" />
    <add key="urlCoursera" value="https://dev-vqdsauwl.auth0.com/dbconnections/signup" />
    <add key="urlExperian" value="https://prd-sso-ui-okta.a.apps.experian.com" />
    <add key="urlCourseraM" value="https://dev-vqdsauwl.auth0.com/api/v2/users/auth0%7C" />
    <add key="urlCourseraT" value="https://dev-vqdsauwl.auth0.com/oauth/token" />
    <add key="idSocio" value="6"/>
    <add key="JWT_SECRET_KEY" value="351635e67bad67676d14242f58c76150" />
    <add key="JWT_AUDIENCE_TOKEN" value="http://localhost:58660" />
    <add key="JWT_ISSUER_TOKEN" value="http://localhost:58660" />
    <add key="JWT_EXPIRE_MINUTES" value="10" />
    
    <add key="Link_instafit" value="https://dev.instafit.com" />
    <add key="token_instafit" value="45cab04144534f70b10c14f92fbd5dec:26f608b2a0747d65709dadda54a9edd8256a3e574ec7a09dfedc278f9f47f3b2966445a15cc6fc8486361e674bff4e53e248191fde3c3cd61f6fde077876499f52fa00fd0678e1e248a7342b67141a01c34eb85c7848eb897dd73810ed8f3a0235c3d3c6" />
    <add key="token_instafit_validacion" value="NDVjYWIwNDE0NDUzNGY3MGIxMGMxNGY5MmZiZDVkZWM6MjZmNjA4YjJhMDc0N2Q2NTcwOWRhZGRhNTRhOWVkZDgyNTZhM2U1NzRlYzdhMDlkZmVkYzI3OGY5ZjQ3ZjNiMjk2NjQ0NWExNWNjNmZjODQ4NjM2MWU2NzRiZmY0ZTUzZTI0ODE5MWZkZTNjM2NkNjFmNmZkZTA3Nzg3NjQ5OWY1MmZhMDBmZDA2NzhlMWUyNDhhNzM0MmI2NzE0MWEwMWMzNGViODVjNzg0OGViODk3ZGQ3MzgxMGVkOGYzYTAyMzVjM2QzYzY=" />
    <add key="Id_Html" value="12" />
    <add key="Link_instafit_base" value="https://dev.instafit.com" />
    <add key="Instafit_cupon" value="CARDIF"/>
    
    <add key="SMS_Server" value="https://www.cellvoz.com/APIlib/SMSAPI.php"/>
    <add key="SMS_User" value="00486820025"/>
    <add key="SMS_Key" value="a14edde6a16463e3002d7f51803434080042a504"/>

    <add key="SMS_Server_Wavy" value="https://api-messaging.movile.com/v1/send-bulk-sms"/>
    <add key="SMS_User_Wavy" value="Outplacement.grupomok.cardif"/>
    <add key="SMS_Key_Wavy" value="GxxGC1dNmKaz2yFkqzNqxYmDDYLtcJD6Wee_itck"/>

    <add key="SMS_Server_Cardif" value="https://api-messaging.movile.com/v1/send-bulk-sms"/>
    <add key="SMS_User_Cardif" value="Outplacement.grupomok.cardif"/>
    <add key="SMS_Key_Cardif" value="GxxGC1dNmKaz2yFkqzNqxYmDDYLtcJD6Wee_itck"/>
    
    <add key ="ClientIDAuto0" value="AUYjreEPUsXTB60ET0EixLIav1HlVLak" />
    <add key ="HtmlExperian" value="{ 'urlFuente':'5697eb77-110c-481f-89c4-ece968755dd2', 'fuente':'bearer', 'color':40479, 'enlaceDiagnostico':'read write' }" />
    <add key="Experian_Password" value="Kq4@ubwMSxr=fS#S"/>
    <add key="Experian_User" value="cardif_usr_prd"/>
    <add key="Experian_Gran_Type" value="password"/>
  </appSettings>
  <system.web>
    <globalization culture="es-CL" uiCulture="es-CL" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="ConexionModels" connectionString="data source=10.20.23.5\MSSQLSERVERDM;initial catalog=tufuturoseguro;persist security info=True;user id=user_ecosystem_preoccidente;password=Preoccidente.Cardif.2020Mok;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Plataforma" connectionString="data source=172.27.1.34;initial catalog=Plataforma;persist security info=True;user id=user_plataforma;password=Telerikui.:258;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConexionOutPlacement" connectionString="Data Source=10.20.23.5\MSSQLSERVERDM;Initial Catalog=EcoOutPlacement;Persist Security Info=True;User ID=user_ecosystem;Password=3c0s1st3m4" providerName="System.Data.SqlClient" />
  </connectionStrings>


</configuration>